* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,
body {
    height: 100%;
}
body {
    background: rgb(68, 162, 225);
}

:root {
    --main-color: #f8b281;
    --secondary-color: #1b1b1b;
}

@font-face {
    font-family: "argonite";
    src: url("./assets/stone\ orgonite.woff");
}

.links {
    text-align: center;
}


.logo {
    display: flex();
    align-items: center;
}

.logo h1 {
    margin-left: 0.5 rem;
    font-family: "argonite", sans-serif;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    line-height: 125%;
    padding: 1rem, 0rem;
    text-align: center;
}

.selling-point {
    margin-top: 25vh;
}

.prompt-user-input {
    text-align: center;
}

.cta-main {
    background-color: var(--main-color);
    color: var(--secondary-color);
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
}

.cta-sec {
    background-color: var(--seondary-color);
    color: white;
    text-align: center;
}